# Variables de entorno
.env
.env.*
!.env.example

# Archivos de respaldo
*.bak
*.backup

# Archivos temporales
.DS_Store
Thumbs.db

# Logs
*.log

# Exportaciones temporales
exports/
backups/

# Archivos comprimidos
*.zip
*.rar
*.7z

# Entornos virtuales de Python
.venv/

# Documentos académicos temporales
*.docx
*.txt
~$*
